<section class="about-me">
    <h1 class="about-me-main-title">About <span>me</span></h1>
    <div class="about-me-information">
        <h2 class="about-me-second-title">BIO</h2>
        <p class="about-me-p-text">I'm Lloyd Jefferson, a talented programmer specializing in software development. My expertise spans various programming languages and technologies, and I am dedicated to continually enhancing my skills. I thrive on seeking unconventional and creative solutions to problems, leveraging a high level of analytical skills to effectively tackle even the most challenging tasks.</p>
        <p class="about-me-p-text">Adaptable to both independent and team-oriented work, I collaborate seamlessly with colleagues, exchanging ideas and finding optimal solutions. My professional maturity enables me to navigate challenges and stressful situations with a calm demeanor, maintaining a consistently high quality of work. Committed to self-improvement, I actively engage in studying new technologies and practices to stay current with the  latest innovations in the field.</p>
    </div>
    <div>
        <img
        class="about-me-my-picture"
        srcset="
        ./img/img-min.jpg  594w,
        ./img/imgx2-min.jpg 1188w,
        ./img/img-tb-min.jpg      704w, 
        ./img/img-tbx2-min.jpg  1408w,
        ./img/img-mb-min.jpg      335w,
        ./img/img-mb-minx2.jpg   670w
        "
        sizes="
    (min-width: 1280px) 594px, 
    (min-width: 768px) 704px, 
    (max-width: 767px) 335px"
        src="./img/img-min.jpg"
        alt="picture"
        />
    </div>

    <div class="about-me-education">
        <div>
            <h3 class="about-me-third-title">EDUCATION</h3>
            <ul class="about-me-list">
                <li class="about-me-info-list">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
                <li class="about-me-info-list">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                <li class="about-me-info-list">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
            </ul>
        </div>
        <div>
            <h3 class="about-me-third-title">ROLE</h3>
            <ul class="about-me-list">
                <li class="about-me-info-list">Frontend development</li>
                <li class="about-me-info-list">HeadlessCMS, Wordpress</li>
                <li class="about-me-info-list">Blender (enjoy)</li>
            </ul>
        </div>
    </div>
</section>