<header class="header">
    <div class="header-container">
      <p class="logo-text">LLOYD<span class="accent">JEFFERSON.</span></p>
      <button class="mobile-open-btn open-menu" type="button">
        <svg class="mobile-open-btn-icon" width="32" height="32">
          <use href="../img/svg/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <nav class="nav-page">
        <ul class="page-nav-list">
          <li class="page-nav-item">
            <a class="page-nav-link" href="#about">About me</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#projects">Projects</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Mobile-menu -->
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <p class="logo-text">LLOYD<span class="accent">JEFFERSON.</span></p>
      <button class="mobile-menu-close-btn close-menu" type="button">
        <svg class="mobile-menu-close-btn-icon" width="32" height="32">
          <use href="../img/svg/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-nav-container">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#about">About me</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <a class="mobile-order-project-btn" href="#work-together">Order the project</a>
    </div>
  </div>
  