<!-- Тестова кнопка для перевірки вікна -->
<!-- <button id="openModalBtn" class="open-modal-btn">Open Modal</button> -->
 
<div class="modal-countainer is-hidden">
  <div class="modal">
    <div class="modal-content">
        <button type="button" class="modal-close-btn"></button>
          <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
          <p class="modal-text">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
      </div>
  </div>
</div> 