<section class="reviews">
  <div class="container container-reviews">
    <div class="reviews-header">
      <h1 class="reviews-title">reviews</h1>
    </div>
    <div class="swiper">
      <ul class="swiper-wrapper" id="reviews-list"></ul>

      <div class="swiper-prev-next">
        <div class="swiper-button-prev" id="prev">
          <svg class="reviews-icon">
            <use href="../img/svg/icons.svg#icon-left_arrow"></use>
          </svg>
        </div>
        <div class="swiper-button-next" id="next">
          <svg class="reviews-icon">
            <use href="../img/svg/icons.svg#icon-right_arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
