<section class="tech-skills">
  <div class="upper">
    <ul class="skills-list upper-skills-list">
      <li>HTML/CSS</li>
      <li>React</li>
      <li>JavaScript</li>
      <li>Node. js</li>
      <li>Node. js</li>
      <li>Native</li>
      <li>Typescript</li>
      <li>Native</li>
    </ul>
  </div>
  <div class="anim lower">
    <ul class="skills-list lower-skills-list">
      <li>HTML/CSS</li>
      <li>React</li>
      <li>JavaScript</li>
      <li>Node. js</li>
      <li>Node. js</li>
      <li>Native</li>
      <li>Typescript</li>
      <li>Native</li>
    </ul>
  </div>
</section>
