<section class="contact-section">
  <div class="container contact-container">
    <div class="contact-info-container">
      <h2 class="work-together">Let&#x2019;s <span>work together</span></h2>
      <p class="contact-me">Contact me to transform your ideas into exceptional solutions.</p>
      <ul class="contact-list">
        <li>
          <div class="contact-li-container">
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/svg/icons.svg#icon-phone"></use>
            </svg>
            <a class="tel" href="tel:++380904567890">+38 090 456 78 90</a>
          </div>
        </li>
        <li>
          <div class="contact-li-container">
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/svg/icons.svg#icon-mail"></use>
            </svg>
            <a class="mailto" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
          </div>
        </li>
        <li>
          <div class="contact-li-container">
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/svg/icons.svg#icon-location"></use>
            </svg>
            USA, New York
          </div>
        </li>
      </ul>
    </div>
    <form class="form" id="form">
      <input class="form-email" type="email" name="email" id="email" placeholder="Your email*" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" />
      <textarea class="form-message" name="message" id="message" placeholder="Message"></textarea>
      <button class="form-btn">Send message</button>
    </form>
  </div>
  <div class="modal-overlay" id="modal-overlay">
    <div class="modal-window">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/svg/icons.svg#icon-close"></use>
      </svg>
      <p class="modal-title">Thank you for your interest in cooperation!</p>
      <p class="modal-description">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
    </div>
  </div>
</section>
