:root{
    --white:#F0F0F0;
    --lightgreen: #14C57C;
    --black: #1E2023;
    --grey: #2A2D32;
    --darkgreen: #204136;
}


.about-me {
    background-color: #2A2D32;
    background-image: url(../img/about-me/tabletbg-min.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 40px;
}
.about-me-main-title {
    padding: 0px 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;
    color: var(--white);
    margin-bottom: 40px;
}

.about-me-text-decoration {
    color: #14C57C;
}
.about-me-img-block{
    display: flex;
    padding: 0px 20px;
    border-radius: 16px;
    width: 320px;
    height: 374px;
    margin-bottom: 32px;
}
.about-me-information {
    padding: 0px 20px;
    color: var(--white);
}
.about-me-second-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 32px;
}
.about-me-p-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--white);
    margin-bottom: 32px;
}
.about-me-my-picture {
    border-radius: 16px;
    width: 320px;
    height: 374px;
}
.about-me-education {
    padding: 0px 20px;
    color: #F0F0F0;
}   
.about-me-educ-container {
}
.about-me-third-title {
    margin-bottom: 32px;
}
.about-me-list {

}
.about-me-info-list {
    margin-bottom: 12px;
}
.about-me-role-container {
    : 0px;
}