@import 'accordion-js/dist/accordion.min.css';
.faq-title {
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.7999999523162842px;
  text-align: left;
  text-transform: uppercase;
  color: #f0f0f0;
}

span {
  color: #14c57c;
}
