.footer-section {
  color: #f0f0f0;
  padding-top: 80px;
}
.footer-wraper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 40px;
}
.footer-logo {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f0f0f0;
}
.footer-accent {
  color: #14c57c;
}
.footer-link {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.footer-item {
  font-weight: 300;
}
.footer-text-end {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 300;
  max-width: 194px;
  margin: 0 auto 24px;
}
@media screen and (min-width: 768px) {
  .footer-wraper {
    border-top: 1px solid #e4e5e6;
    margin-bottom: 24px;
  }
  .footer-section {
    padding-top: 124px;
  }
  .footer-link {
    flex-direction: row;
    gap: 40px;
  }
  .footer-text-end {
    text-align: end;
    max-width: 1280px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    padding-top: 164px;
  }
  .footer-wraper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer-link {
    margin-bottom: 0;
  }
}
