@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Impact';
  src: local('Impact');
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1e2023;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: 'Impact', sans-serif;
  font-size: 64px;
  letter-spacing: 1.8px;
  line-height: 80px;
  text-transform: uppercase;
  color: #f0f0f0;
}

h2 {
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  letter-spacing: 1.8px;
  line-height: 64px;
  text-transform: uppercase;
  color: #f0f0f0;
}

h3 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 40px;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 360px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  h1 {
    font-family: 'Impact', sans-serif;
    font-size: 136px;
    letter-spacing: 1.8px;
    line-height: 156px;
  }

  h2 {
    font-family: 'Impact', sans-serif;
    font-size: 108px;
    letter-spacing: 1.8px;
    line-height: 124px;
  }

  h3 {
    font-family: 'Poppins Medium', sans-serif;
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
