@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./tech-skills.css');
@import url('./my-projects.css');
@import url('./benefits.css');
@import url('./frequency.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./footer.css');

